body{
  background: url('https://www.freepik.com/free-photo/sunset-background-pastel-sky_17604506.htm#query=aesthetic%20desktop%20wallpaper&position=7&from_view=keyword') center center/cover no-repeat;
  width: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

